@font-face {
    font-family: "MadeTommy";
    src: url("../fonts/MadeTommy.ttf");
}

@font-face {
    font-family: "MadeTommyLight";
    src: url("../fonts/MadeTommyLight.ttf");
}

body {
    background: #161821;
    font-family: "MadeTommy";
    font-weight: bold;
    margin: 0;
    color: #e9e9e9;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media only screen and (min-width: 0px) {

    .navbar {
        background: #1B1E29;
        
        ul {
            display: flex;
            margin: 0;
            padding: 0;
        }

        ul li {
            margin-left: 5px;
            margin-right: -12px;
            list-style: none;
            display: flex;
            padding: 15px;
            transition: 0.5s;
            font-size: 30px;
            font-weight: normal;

            div .default {
                color: #E9E9E9;
                text-decoration: none;
            }

            div .active {
                color: #5865F2;
                text-decoration: none;
            }

            div .text {
                display: none;
                //font-family: MadeTommyLight;
                background: rgba(0, 0, 0, 0.267);
                padding: 10px;
                border-radius: 10px;
                transition: 0.5s;
                overflow: hidden;
                font-size: 15px;
                position: relative;
                top: -5px;
            }

            div .icon {
                position: relative;
                top: 5px;
            }

            &:hover {
                font-size: 33px;
            }
        }
    }

    .lng-des {
        font-family: MadeTommyLight;
        background: rgba(0, 0, 0, 0.267);
        padding: 10px;
        border-radius: 10px;
        transition: 0.5s;
        overflow: hidden;
        font-size: 15px;
        display: none;
    }

    .on {
        opacity: 100%;
        font-size: 17px;
    }

    .off {
        opacity: 0%;
    }

    .on2 {
        transition: 0.5s;
        opacity: 100%;
        font-size: 17px;
    }

    .off2 {
        transition: 0.5s;
        display: none;
        opacity: 0%;
    }

    .social {
        cursor: pointer;
        align-items: center;
    }

    .verified {
        position: relative;
        top: 5px;
        left: -2px;
    }

    .hero {

        margin-top: 50px;
        text-align: center;
        cursor: default;
        margin-left: 25px;
        margin-right: 25px;

        div ul {
            list-style: none;
            align-items: center;
            text-align: center;
            padding: 0;
        }

        .logo {
            width: 120px;
        }
        
        .title {
            margin: 15px;
            color: #E9E9E9;
            font-size: 40px;
        }
        
        .des {
            font-family: MadeTommyLight;
            margin-top: 3px;
            margin-bottom: 35px;
            color: #E9E9E9;
            font-size: 30px;
        }

        .button {
            text-decoration: none;
            font-weight: normal;
            transition: 0.5s;
            font-size: 20px;
            background: rgba(255, 255, 255, 0.062);
            text-decoration: none;
            padding: 10px 15px 10px 15px;
            border-radius: 10px;
            color: #E9E9E9;
            margin-right: 10px;

            &:hover {
                font-size: 21px;
                background: rgba(255, 255, 255, 0.116);
            }
        }

        .invite {
            background: #5865F2;
        }

        .xp {
            //display: flex;
            justify-content: center;
            color: #E9E9E9;
        }

        .xp2 {
            display: flex;
            justify-content: center;
            color: #E9E9E9;
        }

        .xp3 {
            //display: flex;
            justify-content: center;
            color: #E9E9E9;
        }

        .card {
            margin: 3px;
            color: #e9e9e9;
            padding: 20px;
            border-radius: 15px;
            font-size: 30px;
            transition: 0.5s;
            text-decoration: none;
            background: rgba(0, 0, 0, 0.11);
            padding: 15px;
        }

        .card2 {
            margin: 3px;
            color: #e9e9e9;
            padding: 20px;
            border-radius: 15px;
            font-size: 30px;
            transition: 0.5s;
            text-decoration: none;
            //background: rgba(0, 0, 0, 0.11);
            padding: 15px;
        }

        .card3 {
            margin: 3px;
            color: #e9e9e9;
            padding: 20px;
            border-radius: 15px;
            font-size: 30px;
            transition: 0.5s;
            text-decoration: none;
            background: rgba(0, 0, 0, 0.11);
            padding: 15px;
        }

        .card-projects {
            background: #1B1E29;
            border-radius: 15px;
            padding: 30px;
            align-items: center;
            font-size: 30px;
            text-align: left;
            padding-bottom: 35px;
            margin-bottom: 25px;

            .proj-title {
                margin-bottom: -20px;
            }

            p {
                margin: 0;
                margin-bottom: -42px;
                margin-top: -7px;
                font-family: MadeTommyLight;
                font-size: 23px;
            }

            .check-open {
                position: relative;
                top: 3px;
                left: 2px;
            }

            .check {
                //font-family: MadeTommyLight;
                font-weight: normal;
                transition: 0.5s;
                font-size: 15px;
                background: rgba(255, 255, 255, 0.062);
                text-decoration: none;
                padding: 10px 15px 10px 15px;
                border-radius: 10px;
                color: #E9E9E9;
                margin-right: 10px;

                &:hover {
                    font-size: 16px;
                    background: #5865F2;
                }
            }

            .disabled {
                font-weight: normal;
                font-size: 15px;
                background: rgba(255, 255, 255, 0.034);
                text-decoration: none;
                padding: 10px 15px 10px 15px;
                border-radius: 10px;
                color: #e9e9e965;
                cursor: not-allowed;

                &:hover {
                    font-size: 16px;
                    background: rgba(255, 255, 255, 0.034);
                }
            }
        }

    }

    .credits {
        visibility: hidden;
        font-family: MadeTommyLight;
        font-size: 14px;
        position: relative;
        text-align: center;
        width: 100%;
        bottom: 15px;
    }

    .credits2 {
        visibility: hidden;
    }

}

@media only screen and (min-width: 410px) {
    .hero .card-projects .check {
        //font-family: MadeTommyLight;
        font-weight: normal;
        transition: 0.5s;
        font-size: 20px;
        background: rgba(255, 255, 255, 0.062);
        text-decoration: none;
        padding: 10px 15px 10px 15px;
        border-radius: 10px;
        color: #E9E9E9;
        margin-right: 10px;

        &:hover {
            font-size: 21px;
            background: #5865F2;
        }
    }

    .hero .card-projects .disabled {
        font-weight: normal;
        font-size: 20px;
        background: rgba(255, 255, 255, 0.034);
        text-decoration: none;
        padding: 10px 15px 10px 15px;
        border-radius: 10px;
        color: #e9e9e965;
        cursor: not-allowed;

        &:hover {
            font-size: 20px;
            background: rgba(255, 255, 255, 0.034);
        }
    }

    .hero .button {
        text-decoration: none;
        font-weight: normal;
        transition: 0.5s;
        font-size: 25px;
        background: rgba(255, 255, 255, 0.062);
        text-decoration: none;
        padding: 10px 15px 10px 15px;
        border-radius: 10px;
        color: #E9E9E9;
        margin-right: 10px;

        &:hover {
            font-size: 26px;
            background: rgba(255, 255, 255, 0.116);
        }
    }

    .hero .invite {
        background: #5865F2;

        &:hover {
            background: #616ef3;
        }
    }
}

@media only screen and (min-width: 1000px) {

    .navbar {
        background: #1B1E29;
        
        ul {
            display: flex;
            margin: 0;
            padding: 0;
        }

        ul li {
            margin-left: 5px;
            list-style: none;
            display: flex;
            padding: 15px;
            transition: 0.5s;
            font-size: 30px;
            font-weight: normal;

            div .default {
                color: #E9E9E9;
                text-decoration: none;
                position: relative;
                top: 5px;
            }

            div .active {
                color: #5865F2;
                text-decoration: none;
                position: relative;
                top: 5px;
            }

            div .text {
                background: rgba(0, 0, 0, 0.267);
                padding: 10px;
                border-radius: 10px;
                font-size: 15px;
                position: relative;
                top: -5px;
                transition: 0.5s;
                display: inline;
            }

            div .on2 {
                transition: 0.5s;
                opacity: 100%;
                font-size: 17px;
            }
        
            div .off2 {
                display: none;
                opacity: 0%;
            }

            div .icon {
                position: relative;
                top: 5px;
            }

            &:hover {
                font-size: 33px;
            }
        }
    }

    .lng-des {
        font-family: MadeTommyLight;
        background: rgba(0, 0, 0, 0.267);
        padding: 10px;
        border-radius: 10px;
        transition: 0.5s;
        overflow: hidden;
        font-size: 15px;
        display: inline;
    }

    .on {
        opacity: 100%;
        font-size: 17px;
    }

    .off {
        opacity: 0%;
    }

    .social {
        cursor: pointer;
        align-items: center;
    }

    .verified {
        position: relative;
        top: 5px;
        left: -2px;
    }

    .hero {

        margin-top: 100px;
        text-align: center;
        cursor: default;

        .logo {
            width: 140px;
        }
        
        .title {
            margin: 15px;
            color: #E9E9E9;
            font-size: 60px;
        }
        
        .des {
            font-family: MadeTommyLight;
            margin: 10px;
            margin-bottom: 30px;
            color: #E9E9E9;
            font-size: 30px;
        }

        .line {
            line-height: 60px;
            text-align: left;
            padding-left: 100px;
        }

        .xp {
            display: flex;
            justify-content: center;
            color: #E9E9E9;
        }

        .xp2 {
            display: flex;
            justify-content: center;
            color: #E9E9E9;
        }

        .xp3 {
            display: flex;
            justify-content: center;
            color: #E9E9E9;
        }

        .card {
            margin: 3px;
            color: #e9e9e9;
            padding: 20px;
            border-radius: 15px;
            font-size: 30px;
            transition: 0.5s;
            text-decoration: none;
            background: none;

            &:hover {
                font-size: 32px;
                background: rgba(255, 255, 255, 0.034);

                .hero .xp div .lng-des {
                    opacity: 100%;
                }
            }
        }

        .card2 {
            margin: 3px;
            color: #e9e9e9;
            padding: 20px;
            border-radius: 15px;
            font-size: 30px;
            transition: 0.5s;
            text-decoration: none;
            background: none;

            &:hover {
                color: #5865F2;
                font-size: 32px;
                background: rgba(255, 255, 255, 0.034);

                .hero .xp div .lng-des {
                    opacity: 100%;
                }
            }
        }

        .card3 {
            margin: 3px;
            color: #e9e9e9;
            padding: 20px;
            border-radius: 15px;
            font-size: 30px;
            transition: 0.5s;
            text-decoration: none;
            background: none;

            &:hover {
                color: #5865F2;
                font-size: 32px;
                background: rgba(255, 255, 255, 0.034);

                .hero .xp div .lng-des {
                    opacity: 100%;
                }
            }
        }

        .last {
            margin-bottom: 100px;
        }

    }

    .features {
        margin-top: 110px;
        background: #1B1E29;

        .card-projects {
            list-style: none;
            width: 100px;
            background: #1b2925;
            border-radius: 15px;
            padding: 30px;
            align-items: center;
            font-size: 30px;
            text-align: left;
            padding-bottom: 35px;
            margin-bottom: 25px;

            .proj-title {
                margin-bottom: -20px;
            }

            p {
                margin: 0;
                margin-bottom: -23px;
                margin-top: -7px;
                font-family: MadeTommyLight;
                font-size: 23px;
            }
        }
    }

    .credits {
        visibility: visible;
        font-family: MadeTommyLight;
        font-size: 14px;
        position: fixed;
        text-align: center;
        bottom: 15px;
        width: 100%;
        cursor: default;
    }

    .credits2 {
        visibility: visible;
        font-family: MadeTommyLight;
        font-size: 14px;
        position: fixed;
        text-align: center;
        bottom: 15px;
        width: 100%;
        cursor: default;
    }
}